
        
 
  <form  name="form" (ngSubmit)="frm.form.valid && register(frm.value)" #frm="ngForm" novalidate>
        <h2>Register User:</h2>
        <div class="row ">
                    
                <div class="col-md-10">
               
                  </div>
             </div>       
    <div class="col-md-10 ">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                    <label for="firstName">First Name <font color="red">*</font></label>
                    <input type="text" pattern="[a-zA-Z ]*" class="form-control input-underline input-lg" [(ngModel)]="fname" name="firstName"  #firstName="ngModel" ngModel required placeholder="Enter the first name" />
                    <small  class="text-danger" *ngIf="firstName.errors?.pattern">
                            Enter the valid First Name
                        </small>
                    <small class="text-danger" *ngIf="firstName.errors?.required">
                        First Name is required
                     </small>
                    
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !lastName.valid }">
                    <label for="lastName">Last Name <font color="red">*</font></label>
                    <input type="text" class="form-control input-underline input-lg" pattern="[a-zA-Z ]*" [(ngModel)]="lname" name="lastName"  #lastName="ngModel" ngModel required placeholder="Enter the last name" />
                    <!-- <small  class="text-danger" *ngIf="!frm.submitted && lastName.valid" class="help-block">Last Name is required</small> -->
                    <small  class="text-danger" *ngIf="lastName.errors?.pattern">
                            Enter the valid Last Name
                        </small>
                        <small class="text-danger" *ngIf="lastName.errors?.required">
                                Last Name is required
                             </small>
                   
             </div>
        </div>
        <div class="col-md-4">
                <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !phoneNumber.valid }">
                        <label for="lastName">Phone Number <font color="red">*</font></label>
                        <input type="text" pattern="[0-9]*" class="form-control input-underline input-lg"  [(ngModel)]="pnumber" name="phoneNumber"  #phoneNumber="ngModel" ngModel required placeholder="Enter the phone number" maxlength="10" />
                        <small class="text-danger" *ngIf="phoneNumber.errors?.required">
                                Phone Number is required
                             </small>
                             <small  class="text-danger" *ngIf="phoneNumber.errors?.pattern">
                                    Enter Numbers Only
                                </small>     
               </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
                <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !username.valid }">
                        <label for="lastName">Designation <font color="red">*</font></label>
                         <ng2-completer type="text" [(ngModel)]="des" pattern="[a-zA-Z ]*" name="designation"  #designation="ngModel" ngModel required placeholder="Enter the Designation" [datasource]="designations" class="form-control input-underline input-lg" [minSearchLength]="2"></ng2-completer>
                         <small  class="text-danger" *ngIf="designation.errors?.pattern">
                                Enter the valid Designation
                            </small>
                        <!-- <input auto-complete  class="form-control input-underline input-lg"  [(ngModel)]="des" name="designation"  #designation="ngModel" ngModel required placeholder="Enter the Designation" [source]="designations" /> -->
                         <small class="text-danger" *ngIf="designation.errors?.required">
                                Designation is Required
                          </small>
                    </div>
        </div>
        <div class="col-md-4">
                <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !location.valid }">
                        <label for="lastName">Location <font color="red">*</font></label>
                        <!-- <input auto-complete  class="form-control input-underline input-lg"  [(ngModel)]="loc" name="location" required placeholder="Enter the location" #location="ngModel" ngModel [source]="locations" /> -->
                        <ng2-completer type="text" [(ngModel)]="loc" name="location" required placeholder="Enter the location" #location="ngModel" ngModel [datasource]="locations" class="form-control input-underline input-lg" [minSearchLength]="2"></ng2-completer>
                        <small  class="text-danger" *ngIf="location.errors?.pattern">
                                Enter the valid Location
                            </small>
                        <!-- <input auto-complete  class="form-control input-underline input-lg"  [(ngModel)]="des" name="designation"  #designation="ngModel" ngModel required placeholder="Enter the Designation" [source]="designations" /> -->
                         <small class="text-danger" *ngIf="location.errors?.required">
                                Location is Required
                          </small>

                    </div>
        </div>
        <div class="col-md-4">
                <div class="form-group" >
                        <label for="lastName">Department <font color="red">*</font></label>
                          <tag-input class="form-control input-underline input-lg" [placeholder]="'Add department'" [secondaryPlaceholder]="'Department'" name="tags"  [(ngModel)]="dept" #tags="ngModel" ngModel required placeholder="Enter the department">
                            <tag-input-dropdown [showDropdownIfEmpty]="true"
                                                [autocompleteItems]="unique">
                            </tag-input-dropdown>
                        </tag-input>
                        <small class="text-danger" *ngIf="tags.errors?.required">
                                Department is Required
                          </small>
                    </div>
                     <!-- <small class="text-danger" [hidden]="tags.valid || (tags.pristine && !frm.submitted)">
                            Department is required</i>.
                        </small> -->
            </div>
    </div>
    <div class="form-group">
        <input type="hidden" name="objectId" #objectId="ngModel" ngModel [(ngModel)]="objID1" />

    </div>
     
     <div class="row">
         <div class="col-md-4">
                <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !username.valid }">
                        <label for="username">Email Address <font color="red">*</font></label>
                        <input type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control input-underline input-lg"  [(ngModel)]="uname"  name="username" #username="ngModel" ngModel required placeholder="Enter the email address"/>
                          <small class="text-danger" *ngIf="username.errors?.required">
                                Email is Required
                          </small>
                          <small  class="text-danger" *ngIf="username.errors?.pattern">
                                Enter a Valid Email address
                        </small>
                    </div>
         </div>
         <div class="col-md-4" *ngIf="show">
                <div class="form-group" >
                        <label for="password">Password<font color="red">*</font></label>
                        <input type="password"  class="form-control input-underline input-lg" pattern="^(?=)(?=.*[@#$%^&+=]).*$" name="password" #password="ngModel"  ngModel required placeholder="Enter the password" minlength="6" />
                        <small  class="text-danger" *ngIf="password.errors?.pattern">
                                Need atleast one special character 
                        </small>
                        <small class="text-danger" *ngIf="password.errors?.required">
                                Password is Required
                          </small>
                          <small  class="text-danger" *ngIf="password.errors?.minlength">
                                        At least 6 character 
                                </small>
                    </div>
         </div>
         <div class="col-md-4" *ngIf="show">
                <div class="form-group" >
                        <label for="password">Retype Password<font color="red">*</font></label>
                        <input type="password" class="form-control input-underline input-lg" validateEqual="password"  name="confirmPassword" #confirmPassword="ngModel" ngModel  required placeholder="Retype password"/>
                        <small class="text-danger" [hidden]="confirmPassword.valid || (confirmPassword.pristine && !frm.submitted)">
                            Password mismatch
                        </small>
                         <small class="text-danger" *ngIf="confirmPassword.errors?.required">
                                Re-type password is required
                          </small>
                   </div>
         </div>
     </div>
     <!-- pattern="^(?=.{6,})(?=.*[@#$%^&+=]).*$"* -->
     
     <div class="row pull-right">
            <div class="col-md-6">
                <div class="form-group">
                        <input type="submit" [disabled]="!frm.form.valid" class="btn rounded-btn btn-block" value="{{reg}}">
                        
                        <!-- <a [routerLink]="['/login']" class="btn btn-link">Cancel</a> -->
                </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
                    <input type="button"  class="btn rounded-btn btn-block" value="Cancel" (click)="cancel()">
                    
                    <!-- <a [routerLink]="['/login']" class="btn btn-link">Cancel</a> -->
            </div>
        </div>
        </div>
    </div>   
  </form>
