.input-underline {
    background: #efefef;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
   
    color: #455158;
    border-radius: 0;
}
.rounded-btn {
       
    color:#fff;
    background: #00bbc7;
  
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
}

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }
