<div class="card-body">
    <ngb-tabset (tabChange)="fetchNews($event)">
        <ngb-tab>
            <ng-template ngbTabTitle>View invitations</ng-template>
            <ng-template ngbTabContent>
                <!-- <ng2-smart-table class="table table-striped table-bordered" [settings]="defaultSettings" [source]="docs1" 
                      
                        ></ng2-smart-table> -->
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                              <tr >
                                <th style="text-align: center;">Sr.No</th>
                                <th style="text-align: center;">Name</th>
                                <th style="text-align: center;">Email </th>
                                <th style="text-align: center;">Location</th>
                              
                              </tr>
                              {{notFound}}
                              <tr *ngFor="let users1 of users1 ;let i=index">
                                 
                                <td style="text-align: center;">{{i+1}}</td>
                                <td style="text-align: center;">{{users1.firstName}} {{users1.lastName}}</td>
                                <td style="text-align: center;">{{users1.username}}</td>
                                <td style="text-align: center;">{{users1.location}}</td>
                               
                              </tr>
                            </table>
                          
                          </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab >
            <ng-template ngbTabTitle >Send Invitations</ng-template>
            <ng-template ngbTabContent >
                    <div class="row">
                        <div class="col-md-12 text-center">
                                <div class="form-group">
                                <tag-input style="color: red;" class="text-danger" [disable]="true" [removable]="false" [placeholder]="'Select users'" [secondaryPlaceholder]="'Users'" [ngModel]="username" class="form-control input-underline input-lg"   >
                                </tag-input>
                            </div>
                        </div>
                    </div>
                <!-- <form class="" #frm="ngForm" (ngSubmit)="invitations(frm.value)" >

                    <div class="row">
                        <div class="col-md-6">
                
                            <div class="form-group">
                                <label class="control-label" for="lastName">Select Users</label>
                                <tag-input class="form-control input-underline input-lg"  name="users" #users  ngModel placeholder="Select Users for invitations">
                                    <tag-input-dropdown [showDropdownIfEmpty]="true" [autocompleteItems]="unique1">
                                    </tag-input-dropdown>
                                </tag-input>
                            </div>
                
                        </div>
                    </div>
                
                        <div class="form-group">
                            <input type="hidden" name="objectId" #objectId="ngModel" ngModel [(ngModel)]="meetingID" />
                
                        </div>
                        <div class="row">
                            <div class="col-md-6  text-center">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="submit" [disabled]="!frm.valid" class="btn rounded-btn btn-block" Value="Send">
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    
                </form> -->
                
<ng2-smart-table class="table" [settings]="defaultSettings" [source]="docs" 
(createConfirm)="addRecord($event)"
(editConfirm)="updateRecord($event)"
(userRowSelect)="onUserRowSelect($event)"
(create)="create.emit($event)"
(edit)="edit.emit($event)"
(delete)="delete.emit($event)"
(custom)="custom.emit($event)"
(userSelectRow)="onUserSelectRow($event)"
(editRowSelect)="editRowSelect($event)"
(multipleSelectRow)="multipleSelectRow($event)"
(selectAllRows)="onSelectAllRows($event)"
(sort)="sort($event)"
(filter)="filter($event)"
(custom)="onCustom($event)"
>

</ng2-smart-table> 
<div class="row">
    <div class="col-md-6  text-center">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <input type="submit" (click)="abc()" class="btn rounded-btn btn-block" Value="Send">
                </div>
           </div>
        </div>
    </div>
</div> 
            </ng-template>
            
        </ngb-tab>
    </ngb-tabset>
 </div>   



