<div class="table-responsive" >
    <h4>Meeting Details</h4>
  <table class="table table-striped table-bordered">
  <tr>
    <th style="text-align: center;">Meeting Name</th>
    <th style="text-align: center;">Meeting Description </th>
    <th style="text-align: center;">Venue</th>
    <th style="text-align: center;">Meeting Date</th>
    <th style="text-align: center;">Meeting Start Date</th>
    <th style="text-align: center;">Meeting Start Time</th>
    <th style="text-align: center;">Publish</th>
  </tr>
  <tr>
       <td style="text-align: center;">{{nm}}</td>
        <td style="text-align: center;">{{desc}}</td>
        <td style="text-align: center;">{{ven}}</td>
        <td style="text-align: center;">{{mtDate}}</td>
        <td style="text-align: center;">{{stDate}}</td>
        <td style="text-align: center;">{{stTime}}</td> 
    <td style="text-align: center;"><b>{{isPublish}}</b></td> 
  </tr>
</table>
</div>

  <!-- <div class="col-md-4">
                <div class="form-group">
                    <label for="zipcode">Created By : </label>
                    <select name="createdBy" [(ngModel)]="createby" #createdBy="ngModel" ngModel class="form-control input-underline input-lg" >
                            <option  value="" disabled>-----Select-----</option>
                            <option *ngFor="let docs1 of docs2" value="{{docs1.data}}">{{docs1.data}} </option>
                           
                        </select> 
                       
                </div>
            </div> -->
