.input-underline {
    background: #efefef;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
   
    color: #455158;
    border-radius: 0;
}
.rounded-btn {
    color:#fff;
    background: #00bbc7;
    font-size: 18px;
    line-height: 40px;
    padding: 0 18px;
}
textarea{ 
    height:100px; 
    min-height:100px;  
    max-height:100px;
  }